.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
.idea/misc.xml

.idea/gradle.xml
app/app.iml
com.ivigilate.android.library/com.ivigilate.android.library.iml
